@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

body {
    background: linear-gradient(to right, #333333, #dd1818);
}


h1 {
    text-align: center;
    font-size: 25px;
}

p {
    color: rgb(255, 255, 255);
}

header {
    background-color: rgba(33, 37, 41, 255);
}
.redessociais {
    height: 45px;
    width: 70px;
}

.redessociaisjim {
    height: 25px;
    width: 30px;
}

.redessociais:hover {
    transform: scale(1.05);
}

h5 {
    font-size: 25px;
}

.descrição {
    text-shadow: 0px 0px 20px #000000;
    color: rgb(255, 255, 255);
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    width: 100%;
}

.grupo {
    color: white;
    font-size: 50px;
    padding: 200px;
}

.nome {
    text-align: center;
    color: white;
}
.conteudo {
    padding: 0.9em;
    background-color: #141414;
    letter-spacing: 0.1em;
    background: linear-gradient(#141414, #aaa);
}

nav, .dropdown-menu {
    color: #e50914;
    /* letter-spacing: 0.1em; */
}

.dropdown-menu {
    border-radius: 0.5em;
    background: linear-gradient(#141414, #aaa);
    font-size: 0.8em;
}

.dropdown-menu:hover {
    transition: all 150ms ease-in-out;
}

a, .dropdown-item { 
    color: #e50914;
}

/* NavBar ↓ */
.navbar-toggler-icon {
    color: #eee;
    background-color: #e50914;
    border-radius: 0.5em;
    text-align: center;
}

.navbar {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 2.0em;
}

.nav-link {
    color: #e50914;
}

.nav-link:focus, .nav-link:hover {
    color: #0a58ca;
}

a { 
    color: #e50914;
}

navbar {
    padding: 0%;
}

.navbar-brand {
    font-size: 2em;
}
/* NavBar ↑ */
