*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100%;
}
header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header .search{
    display: flex;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
}
header .search input[type="search"]{
    border: none;
    outline: none;
    padding: 0 10px;
    width: 100%;
}
header .search input[type="button"]{
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    border-left: 1px solid #a8a8a8;
}
header nav ul{
    display: flex;
    align-items: center;
}
header nav ul li a{
    margin-left: 10px;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #000000;
}
main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load{
    width: 200px;
    height: auto;
    background: #FFF;
    position: absolute;
    z-index: 9999;
    border: 1px solid #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: none;
}
.load p{
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 100;
}
.load span{
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
}
.load span::after{
    content: "";
    position: absolute;
    height: 100%;
    animation: animaLoad 1.5s infinite;
    border-radius: 30px;
}
.msgs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #FFF;
    border: 1px solid #000;
    width: auto;
    height: auto;
    display: none;
    align-items: center;
    padding: 10px 20px;
    animation: animaMsgs .35s forwards linear;
}
.msgs img{
    width: 30px;
    margin-left: 20px;
}
.msgs h4{
    font-size: 1.2rem;
}
@keyframes animaMsgs{
    0%{
        opacity: 0;
        transform: translate(-50%, -10px);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translate(-50%, 0px);
    }
}
.msgValid{
    display: none;
}
.msgErro{
    display: none;
}
.valid{
    color: #00AF51;
}
.erro{
    color: #FE0000;
}
@keyframes animaLoad{
    0%, 100%{
        /* transform: translateX(0); */
        width: 0;
        background: transparent;
    }
    50%{
        /* transform: translateX(1900%); */
        width: 100%;
        background: #00CCFF;
    }
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
}
.container .boxCards{
    width: 180px;
    height: auto;
    background: #FFF;
    box-shadow: 0 0 10px #b1b1b1;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: .25s ease-in-out;
}
.container .boxCards:hover{
    transform: scale(1.1);
}
.container .boxCards .photoMember{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .boxCards .photoMember img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px #a8a8a8;
    object-fit: cover;
}
.container .boxCards strong{
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    margin:5px 0 10px 0 ;
}
.container .boxPlanos{
    width: 255px;
    height: 230px;
    background: #FFF;
    box-shadow: 0 0 10px #b1b1b1;
    padding: 20px;
    transition: .25s linear;
    cursor: pointer;
    position: relative;
}
.container .boxPlanos:hover{
    transform: scale(1.05);
}
.container .boxPlanos img{
    width: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 10;
}
.container .boxPlanos h2{
    text-align: center;
    height:40px ;
}
.container .boxPlanos p{
    height: 100px;
    line-height: 20px;
}
.container form{
    width: 400px;
    margin: 0 auto;
}
.container .infos{
    box-shadow: 0 0 10px #b1b1b1;
    padding: 20px;
    display: flex;
    width: 380px;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.container .infos h3{
    margin-bottom: 10px;
}
.container .infos img{
    width: 40px;
    margin-right: 20px;
}
.container a#confirmar{
    background: #00CCFF;
    font-weight: 900;
    height: 30px;
    padding: 5px 30px;
    color: #FFF;
    border-radius: 5px;
    animation: animaBotao .2s linear;
    display: none;
}

.container .boxDados{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #000;
    height: 30px;
}
.container .boxDados:first-child{
    border: none;
}
.container .boxDados input:valid ~ span, .container .boxDados input:focus ~ span{
    font-size: .8rem;
    transform: translate(-10px, -22px);
    font-weight: 900;
}
.container .boxDados span{
    padding-left: 10px;
    transition: .5s ease-out;
}
form .boxDadoscheck label{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
form .boxDadoscheck label input[type="checkbox"]{
    margin-right: 10px;
    width: 50px;
}
form input[type="button"]{
    width: 100%;
    height: 40px;
    background: #00CCFF;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    color: #FFF;
    margin-top: 20px;
}
form .boxDadoss h3{
    margin-bottom: 10px;
}
.container .boxDados h2{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.container .boxDados h2 img{
    width: 40px;
    margin-right: 10px;
}
.container .boxDados input[type="text"]{
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
    padding-left: 10px;
    outline: none;
    border: none;
}
.container .cartoes ul{
    display: flex;
}
.container .cartoes ul li{
    margin-left: 10px;
}
.container .cartoes ul li img{
    width: 30px;
    opacity: .3;
}
.container .cartoes .cartaoSelecionado{
    transform: scale(1.2);
    opacity: 1;
}
@keyframes animaBotao{
    0%{
        transform: translateY(40%);
    }
}
main h1{
    text-transform: uppercase;
}

main .mainMove{
    width: 600px;
    height: 80vh;
}
main .mainMove .PhotoDesc{
    height: 60vh;
    width: 100%;
    display: flex;
}
main .mainMove .PhotoDesc .Photo{
    width: 250px;
    height: inherit;
}
main .mainMove .PhotoDesc .Photo img{
    width: 100%;
}
main .mainMove .PhotoDesc .Desc{
    width: 350px;
    height: inherit;
    padding: 10px 20px;
}
main .mainMove .PhotoDesc .Desc h2{
    text-transform: uppercase;
    margin-bottom: 30px;
}
main .mainMove .PhotoDesc .Desc p{
    padding: 5px 0;
    border-bottom: 1px solid #a8a8a8;
}
main .mainMove .descSpan{
    font-weight: bold;
    display: inline-block;
}
main .mainMove .sinopse{
    width: 100%;
    height: 20vh;
    padding: 5px 0;
    overflow-y: scroll;
}
main .mainMove .sinopse h3{
    margin-bottom: 10px;
}
#classificacao{
    font-size: 3rem;
    padding: 5px 10px;
    margin-top: 20px;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
    width: 70px;
    text-align: center;
    color: #FFF;
}
.livre{
    background: #00AF51;
}
.dez{
    background: #00CCFF;
}
.doze{
    background: #FFCC00;
}
.quatorze{
    background: #FF6600;
}
.dezesseis{
    background: #FE0000; 
}
.dezoito{
    background: #000000;
}




